/KwansemaRepublic/KwansemaRepublic.Droid/bin
/KwansemaRepublic/KwansemaRepublic.Droid/obj
/Domain/bin
/Domain/obj
/KwansemaRepublic/KwansemaRepublic/bin
/KwansemaRepublic/KwansemaRepublic/obj
/KwansemaRepublic/KwansemaRepublic.iOS/bin
/KwansemaRepublic/KwansemaRepublic.iOS/obj
/Domain/bin/Debug
/Domain/obj/Debug
/KwansemaRepublic/KwansemaRepublic/bin/Debug
/KwansemaRepublic/KwansemaRepublic/obj/Debug
